{% extends "layout_closed.html" %}
{% block content %}
<div class="dev-form">
{% if action == "Add" %}
<h2>Create Application</h2>
{% else %}
<h2>Update Application {{ form.name.data }} Configuration</h2>
{% endif %}
{% from "_formhelpers.html" import render_field %}
<form class="form" method="POST">
  {{ form.csrf_token }}
  {{ form.id }}
  <dl>
  {{ render_field(form.name) }}
  {{ render_field(form.description) }}
  {{ render_field(form.metadata) }}
  {{ render_field(form.available) }}
  </dl>
  <p><input type="submit" value="{{ action }}">
</form>
</div>
{% endblock %}
