{% extends "layout_open.html" %}
{% block content %}
<div id=mainblock></div>
<div id=lowerblock>
  <div id=sdk>
    <div class=image-overlay-link>
      <a href="/devresources">
        <span class=headline>Developer Resources</span></br>
        <span class=detail>Tutorials, SDKs and other resources</span>
      </a>
    </div>
  </div>
  <div id=locations>
    <div class=image-overlay-link>
      <a href="/locations">
        <span class=headline>Locations</span></br>
        <span class=detail>Hosting locations and typical latency</span>
      </a>
    </div>
  </div>
  <div id=pricing>
    <div class=image-overlay-link>
      <a href="/pricing">
        <span class=headline>Pricing</span></br>
        <span class=detail>Hosting costs and prediction tools</span>
      </a>
    </div>
  </div>
</div>
{% endblock %}

