{% extends "layout_common.html" %}
{% block topbar_nav_buttons %}
  <a class="button console" href="/console">Console</a>
  <a class="button developer" href="/developer">Developer</a>
  <a class="button devresources" href="/devresources">Developer Resources</a>
  <a class="button marketplace" href="/marketplace">Marketplace</a>
  <a class="button locations" href="/locations">Locations</a>
  <a class="button pricing" href="/pricing">Pricing</a>
{% endblock %}
{% block topbar_acct_buttons %}
  {% if current_user.is_authenticated %}
    <a class="button account" href="/account">Account</a>
    <a class="button logout" href="/logout">Log out</a>
  {% endif %}
{% endblock %}
